<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="../static/styles.css" />
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    


    <!-- Load our React component. -->
    <script type="text/babel" src="../static/app.js"></script>
</head>
<body>

    <div id="app">
    </div>

    <!-- Load React. -->
    <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
    <script src="https://unpkg.com/react@16/umd/react.production.min.js" crossorigin></script>
    <script src="https://unpkg.com/react-dom@16/umd/react-dom.production.min.js" crossorigin></script>
</body>

</html>